# Miscellaneous
.DS_Store
Thumbs.db
.idea/

# Theme
vendor/

node_modules
assets/vendor/*
#assets/css/*main*.css
assets/js/*scripts*.js
assets/vendor/modernizr.min.js
#!assets/vendor/fontawesome/less/variables.less
*.log
*.map
#composer.lock
app/storage/views/*
dist/