#login h1 a, .login h1 a {
    background-image: url(http://htdocs.wp-starter.buzzaka/content/themes/code/dist/images/logo.jpg );
    padding-bottom: 30px;
    background-size: 150px;
    width: 150px;
    height: 150px;
}